/* Sidebar transitions */
:host {
  transition: width 0.3s ease;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d2d3;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4d6d8;
} 